* {
    padding: 0;
    margin: 0;
    color: #FFF;
    background-color: black;
}

.al-logo{
    height: 130px;
    width: 130px;
}

.created_collected {
    height: 60px;
    width: 200px;
    color: #D9D9D9;
    color: white;
}

.kleur-beige {
    background-color: #EFECE3;
}

.kleur-lichtblauw {
    background-color: #8FABD4;
}

.kleur-donkerblauw {
    background-color: #4A70A9;
}

.kleur-zwart {
    background-color: black;
}

.funnel-display-font {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}