* {
    padding: 0;
    margin: 0;
    color: #FFF;
}

header {
    display: flex;
    justify-content: center;
    height: 130px;
    width: 100%;
}

.logo-container {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 130px;
}

.al-logo {
    height: 130px;
    width: 130px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33%;
    height: 100px;
    justify-content: space-evenly;
    font-size: 20px;
    background: linear-gradient(to right, #8FABD4, #4A70A9);
    -webkit-background-clip: text;
    background-clip: text;
}

nav a {
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.created_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100px;
}

.created_collected {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background-color: #D9D9D9;
}

.created_collected h1 {
    font-size: 16px;
    color: black;
}

.kleur-beige {
    background-color: #EFECE3;
}

.kleur-lichtblauw {
    background-color: #8FABD4;
}

.kleur-donkerblauw {
    background-color: #4A70A9;
}

.kleur-zwart {
    background-color: black;
}

.funnel-display-font {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}